fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-dotenv
pydantic[email]
pydantic-settings
httpx
celery
redis
icalendar
razorpay
resend
boto3
sentry-sdk
python-multipart
jinja2
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1